<div>
  <section>
    <input type="text" placeholder="New Team Name"></input>
    <div id="new-team-display" class="container">
      <div class="card" style="width: 18rem;">
        <h5 class="card-title">Pokemon 1</h5>
        <p class="card-text"></p>
        <img>
      </div>
      <div class="card" style="width: 18rem;">
        <h5 class="card-title">Pokemon 2</h5>
        <p class="card-text"></p>
        <img>
      </div>
      <div class="card" style="width: 18rem;">
        <h5 class="card-title">Pokemon 3</h5>
        <p class="card-text"></p>
        <img>
      </div>
      <div class="card" style="width: 18rem;">
        <h5 class="card-title">Pokemon 4</h5>
        <p class="card-text"></p>
        <img>
      </div>
      <div class="card" style="width: 18rem;">
        <h5 class="card-title">Pokemon 5</h5>
        <p class="card-text"></p>
        <img>
      </div>
      <div class="card" style="width: 18rem;">
        <h5 class="card-title">Pokemon 6</h5>
        <p class="card-text"></p>
        <img>
      </div>
    </div>
  </section>
  <section>
    <label>Choose a pokemon:</label>
    <input list="pokemon-list" id="pokemon-choice">
    <datalist id="pokemon-list">

    </datalist>
    <button type="submit" id="add-pokemon-btn" class="btn btn-primary mb-2">Add Pokemon</button>
    <button id="save-new-team" class="btn btn-success mb-2">Save Team</button>
  </section>
</div>
<script src="/js/searchPokemon.js"></script>