<div>
  <label>Choose a pokemon:</label>
  <input list="pokemon-list" id="pokemon-choice">
  <datalist id="pokemon-list">

  </datalist>
  <button type="submit" id="add-pokemon-btn" class="btn btn-primary mb-2">Add Pokemon</button>
</div>
<script src="/js/searchPokemon.js"></script>