<div>
  <section>
    <div class="">
      <div class="">
        <h1>New Pokemon Team</h1>
        <div id="new-team-display" class="row">
          <div class="card col-sm-6 m-2" style="width: 18rem;">
            <h5 class="card-title">Pokemon 1</h5>
            <p class="card-text"></p>
            <img />
          </div>
          <div class="card col-sm-6 m-2" style="width: 18rem;">
            <h5 class="card-title">Pokemon 2</h5>
            <p class="card-text"></p>
            <img />
          </div>
          <div class="card col-sm-6 m-2" style="width: 18rem;">
            <h5 class="card-title">Pokemon 3</h5>
            <p class="card-text"></p>
            <img />
          </div>
          <div class="card col-sm-6 m-2" style="width: 18rem;">
            <h5 class="card-title">Pokemon 4</h5>
            <p class="card-text"></p>
            <img />
          </div>
          <div class="card col-sm-6 m-2" style="width: 18rem;">
            <h5 class="card-title">Pokemon 5</h5>
            <p class="card-text"></p>
            <img />
          </div>
          <div class="card col-sm-6 m-2" style="width: 18rem;">
            <h5 class="card-title">Pokemon 6</h5>
            <p class="card-text"></p>
            <img />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row mt-4">
      <div class="col">
    <select class="form-select-lg mb-4" aria-label="Default select example">
      <option selected>Choose a Game:</option>
      {{#each team.game}}
      <option value={{this}}>{{this.team.game}}</option>
      {{/each}}
    </select>
    </div>

    <div class="row">
    <label>Choose a pokemon:</label>
      <div class="col-xs-5 col-lg-1">
    <input list="pokemon-list" id="pokemon-choice" class="mb-3"/>
    <datalist id="pokemon-list">
      </div>
    </div>
    </datalist>
    </div>
    <button
      type="submit"
      id="add-pokemon-btn"
      class="btn btn-outline-primary mb-2"
    >Add Pokemon</button>
    <button type="submit" id="add-team-btn" class="btn btn-primary mb-2">Add to
      Team</button>
  </section>
</div>
<script src="/js/searchPokemon.js"></script>