<div>
  <section>
    <div class="">
      <div class="">
        <h1>New Pokemon Team</h1>
        <div id="new-team-display" class="row">
          <div class="card col-sm-6" style="width: 18rem;">
            <h5 class="card-title">Pokemon 1</h5>
            <img />
          </div>
          <div class="card col-sm-6" style="width: 18rem;">
            <h5 class="card-title">Pokemon 2</h5>
            <img />
          </div>
          <div class="card col-sm-6" style="width: 18rem;">
            <h5 class="card-title">Pokemon 3</h5>
            <img />
          </div>
          <div class="card col-sm-6" style="width: 18rem;">
            <h5 class="card-title">Pokemon 4</h5>
            <img />
          </div>
          <div class="card col-sm-6" style="width: 18rem;">
            <h5 class="card-title">Pokemon 5</h5>
            <img />
          </div>
          <div class="card col-sm-6" style="width: 18rem;">
            <h5 class="card-title">Pokemon 6</h5>
            <img />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="row">
  <label>Choose a Game:</label>
  <select id="game-list" class="form-select-lg" aria-label="Default select example">

  </select>
</section>
<div class="row">
  <label>Choose a pokemon:</label>
  <select id="pokemon-list" class="form-select-lg" aria-label="Default select example">

  </select>
</div>
<button type="submit" id="add-pokemon-btn" class="btn btn-outline-primary mb-2">Add Pokemon</button>
<button id="save-new-team" class="btn btn-outline-success mb-2">Save Team</button>

</div>
<script src="/js/searchPokemon.js"></script>
<script src="./js/searchGeneration.js"></script>