<div>
    <h3>Selected Team</h1>
<br>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src={{sprite}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Selected Team</h5>
    <p class="card-text">.....example text</p>
    <a href="/top-team" class="btn btn-primary">View Full Team</a>
  </div>
</div>
</div>